@import "../Styles/variables.css";

.all-movie-container {
  background-color: var(--container-bg);
  border-radius: 12px;
  margin-bottom: 10px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.movie-list {
  width: max-content;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.movie-item {
  list-style: none;
  width: max-content;
}
.pagination {
  display: flex;
  justify-content: center;
  gap: 70px;
  padding: 5px 20px;
}
.page-btn {
  font-weight: bolder;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 10px;
  background: var(--bg-color);
  color: var(--text-color);
  font-size: var(--button-font);
  border: 2px solid var(--text-color);
  border-radius: 8px;
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;
}
.disabled {
  opacity: 0.5;
}
.pagination:hover .disabled {
  background: var(--bg-color);
  cursor: not-allowed;
}
.page-icon {
  font-size: var(--title-font);
  transition: all 0.2s ease-in-out;
}
.page-btn:hover {
  background: var(--primary-color);
}
.page-btn:nth-child(1):hover .page-icon {
  transform: translateX(-5px);
}
.page-btn:nth-child(2):hover .page-icon {
  transform: translateX(5px);
}

/* search style */

.search-container {
  margin: 20px;
}

@media (max-width: 1300px) {
  .search-container {
    margin-top: 80px;
  }
  .all-movie-container {
    width: 99%;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .movie-list {
    gap: 5px;
  }
  .pagination {
    margin-top: 20px;
  }
}
